.body {
    font-family: 'Montserrat', 'Helvetica', sans-serif;
}
.black-text {
  color: black !important;
}
.black-text:hover {
  text-decoration: underline !important;
  color: black !important;
}

#mainbanner {
  height: 400px;
  background-image: url('static/img/coin.jpg');
  background:  no-repeat center center;
  background-size: cover;
  opacity: 0.5;
}


.info i {
  color: grey;
}


.app {
    font-size: 16px;
}
.goal {
    background: lightgrey;
    border-radius: 10px;
    padding: 0.5vw;
    margin: 1vw;
}
.goal-name {
    font-size: 20px;
    font-weight: bold;
}
.green {
    background: lightgreen;
}
.message-wrapper {
    overflow-y: scroll;
    max-height: 30vw;
}
.message {
    padding: 0.5vw;
    margin: 1vw 0 1vw 0;
    border-radius: 10px;
    position: relative;
}
.user {
    
    text-align: right;
    background-color: #0076FF;
    color: azure;
    margin-left: 30%;
}
.user:after {
    content: '';
    position: absolute;
    top: 100%;
    left: 80%;
    width: 0;
    height: 0;
    border-top: solid 5px #0076ff;
    border-left: solid 5px transparent;
    border-right: solid 5px transparent;
}
.bot {
    margin-right: 30%;
    background-color: lightgray;
}
.bot:after {
    content: '';
    position: absolute;
    top: 100%;
    right: 80%;
    width: 0;
    height: 0;
    border-top: solid 10px #lightgray;
    border-left: solid 10px transparent;
    border-right: solid 10px transparent;
}
